[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
loguru = "~=0.5.3"
pillow = "~=8.3.1"
typer = "~=0.3.2"
pydantic = {extras = ["dotenv"], version = "~=1.8.2"}
python-pptx = "~=0.6.19"

[dev-packages]
mypy = "~=0.910"
pylint = "~=2.9.6"
isort = "~=5.9.3"
black = "~=21.7b0"
invoke = "~=1.6.0"
flake8 = "~=3.9.2"
pytest = "~=6.2.4"

[requires]
python_version = "3.8"

[scripts]
build_talk_preview_img = "python3 app/main.py build_talk_preview --output png"
build_talk_preview_ppt = "python3 app/main.py build_talk_preview --output ppt"
lint = "inv lint"
reformat = "inv reformat"

[pipenv]
allow_prereleases = true
