[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
loguru = "*"
pillow = "*"
typer = "*"
pydantic = {extras = ["dotenv"], version = "*"}
python-pptx = "*"

[dev-packages]
mypy = "*"
pylint = "*"
isort = "*"
black = "*"
invoke = "*"
flake8 = "*"
pytest = "*"

[requires]
python_version = "3.8"

[scripts]
build_talk_preview_img = "python3 app/main.py build_talk_preview --output png"
build_talk_preview_ppt = "python3 app/main.py build_talk_preview --output ppt"
lint = "inv lint"
reformat = "inv reformat"

[pipenv]
allow_prereleases = true
